body{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
}
.content{
    width: 80%;
    padding: 0;
    border: 0;
    margin: 30px;
    
}
.nav{
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}
.item{
    align-self: center;
    justify-self: center;
    height: 30px;
}

.view{
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    
    background-color: cadetblue;
}
.task{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr); 
    
}
.tab{ 
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: cornflowerblue;
    width: 100%;
    justify-self: center;
    text-align: center;
    
}

.botao{
    background-color: cornflowerblue;
    width: 100%;
    border-radius: 10px;
    justify-self: center;
    text-align: center;

}
.check{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7,1fr);
    justify-self: center;
    text-align: center;
}